// Place all the styles related to the Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	position: fixed;
	width: 100%;
	height: 40px;
	top: 0em;
}
#title {
	float:left;
	margin: 10px 5px 5px 15px;
}
.moves {
	float:left;
	list-style: none;
}
.game_details {
	float:right;
	margin: 10px 20px 5px 20px;
}
.game_details .reset {
	float:right;
	margin: 12px 15px 5px 5px;
}
.game_details .score {
	float:right;
	font-size: 1.2em;
	margin: 10px 0px 5px 10px;
}
.game_details .total {
	float:right;
	font-size: 20px;
	margin: 4px 5px 5px 20px;
	padding:6px;
	background-color: #585d95;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.game_details .game_num {
	float:right;
	font-size: 20px;
	margin: 4px 15px 5px 20px;
	padding:6px;
	background-color: #585d95;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.game_details .leaderboard {
	float:left;
	font-size: 20px;
	margin: 4px 20px 5px 0px;
	padding:6px;
	background-color: #585d95;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
table#game {
	position: fixed;
	top:66px;
	left: 15px;
	width: 900px;
	min-width: 200px;
	padding: 0px;
	margin: 0px;
}
td.game{
	margin-left: 30px
}
.status {
	float:left;
}
img[alt="rules"] {
	float:left;
}
table#leaderboard{
	text-align: left;
	position: absolute;
	top: 80px;
	right:10px;
	margin: 0, 0, 0, 20px;
	width:180px;
	height: 400px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	background-color: #585d95;
}
#strategy_0 {
	position: fixed;
	background-image: url('guess_0.png');
	background-position: top;
	width: 166px;
	height: 166px;
	top:68px;
	left:149px;
}
#strategy_0:hover {
	background-position: bottom;
}
#strategy_1 {
	position: fixed;
	background-image: url('guess_1.png');
	background-position: top;
	width: 166px;
	height: 166px;
	top:162px;
	left:21px;
}
#strategy_1:hover {
	background-position: bottom;
}
#strategy_2 {
	position: fixed;
	background-image: url('guess_2.png');
	background-position: top;
	width: 166px;
	height: 166px;
	top:163px;
	left:274px;
}
#strategy_2:hover {
	background-position: bottom;
}
#strategy_3 {
	position: fixed;
	background-image: url('guess_3.png');
	background-position: top;
	width: 166px;
	height: 166px;
	top:312px;
	left:73px;
}
#strategy_3:hover {
	background-position: bottom;
}
#strategy_4 {
	position: fixed;
	background-image: url('guess_4.png');
	background-position: top;
	width: 166px;
	height: 166px;
	top:312px;
	left:231px;
}
#strategy_4:hover {
	background-position: bottom;
}
#debug {
	position: absolute;
	bottom:40px;
	text-align: left;
}